.container {
    margin-top: 30px;
}

.second
{
	font-family: Helvetica, sans-serif;
    text-align: center;
    color: black;
}

h3
{
	font-weight: 990;
	padding-top:40px;
	padding-bottom: 40px;
}

input {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    display: block;
    margin-left: 40%;
    width: 250px;
}

.inpt {
    margin-left: 40%;
    margin-bottom: 16px;
}

#submit
{
    margin-bottom :50px;
    max-width: 40%;
	border:none;
    background-image: #444477;
    color:black;
    font-weight: bold;
    font-size: 16px;
	border-radius: 18px;
    padding: 10 40px;
    display: block;
    margin-left: 40%;
}

.group {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    &:before {
      box-sizing: border-box;
      content: " ";
      position: absolute;
      top: 0.3em;
      left: 0;
      display: block;
      width: 1.4em;
      height: 1.4em;
      border: 2px solid white;
      border-radius: .25em;
      z-index: -1;
    }
  }
  input[type="radio"] + label::before {
    border-radius: 1em;
  }
  /* Checked */
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    padding-left: 1em;
    color: white;
    &:before {
      top: 0;
      width: 100%;
      height: 2em;
      background: white;
    }
  }
  
  /* Transition */
  label,
  label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

  #back-a {
    background: black;
    color: white;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
  }

li {
  display: inline;
  margin-left: 30px;
}