img {
    max-width: 100%;
    max-height: 150%;
}

.container {
    margin-top: 30px;
}

.second {
    margin-top: 15%;
    text-align: center;
    color: white;
}

#explore{
    color: black;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border-radius: 30px;
    padding: 20px 50px;
}