body
{
    background-color: #444477;
    margin: 0px;
    padding: 0px;
}

#site-name{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: white;
    margin-left: 10%;
}

.col-7 .col{
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

.container-fluid{
    padding: 5px;
    background-color: #2C2C4D;
}

.col>a {
    text-decoration: none;
    color: white;
    padding-top: 10px;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    margin: -25px 0 0 -25px;
}

.col>a:hover{
    color: white;
    font-size: 24px;
}

footer{
    background-color: #2C2C4D;
    color: white;
}

a{
    color: white;
}