{% extends "index.html" %}
{% block head %}
<title> Home page</title>
<link rel="stylesheet" href="https://mybookstore.apbansal.tech/static/css/home.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class = "row">
    <div class = "col">
        <img src="https://mybookstore.apbansal.tech/static/images/home.jpg" width="1000" height="700" alt="The Book image">
    </div>
    <div class = "col second">
        <h2> “Never trust anyone who has not brought a book with them.” </br>  So buy a book from our vast collection and start a habit of reading...</h2>
        <a href="/login" id="explore"> Explore</a>
    </div>
    </div>
</div>
{% endblock %}