{% extends "index.html" %}
{% block head %}
<title> Adding Book page</title>
<link rel="stylesheet" href="https://mybookstore.apbansal.tech/static/css/my_order.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class = "row">
        <ul>
            <li> <a id="back-a" href="{{ url_for('index') }}"> Home page </a></li>
            <li> <a id="back-a" href="{{ url_for('explore') }}"> Explore books </a></li>
            <li> <a id="back-a" href="{{ url_for('logout') }}"> Logout </a> </li>
        </ul>
    </div>
    <div class = "row">
    <div class = "col second">
        <h3> Welcome To Your Orders Page.</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </div>
    </div>

    {% for order in orders %}
    <div class="row" id="orders">
        <ul>
        <li style="display: block; color: white;"> Order id: {{ order.id }}</li>
        <li style="display: block; color: white;"> Name: {{ order.cx_name }} </li>
        <li style="display: block; color: white;"> quantity: {{ order.quantity }}</li>
        <li style="display: block; color: white;"> Address... {{ order.address }} </li>
        <li style="display: block; color: white;"> Phone number: {{ order.phone }}</li> 
        </ul>   
    </div>
        {% endfor %}
</div>
{% endblock %}